<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Order</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand"><img th:src="@{~/img/GharMai__3_-removebg-preview.png}" alt="img"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a th:href="@{~/user/home}" class="nav-item nav-link">Home</a>
                        <a th:href="@{~/user/about}" class="nav-item nav-link">About</a>
                        <!-- <a href="feature.html" class="nav-item nav-link">Feature</a>
                        <a href="team.html" class="nav-item nav-link">Chef</a> -->
                        <a th:href="@{~/user/menu}" class="nav-item nav-link">Menu</a>
                        <a th:href="@{~/user/order}" class="nav-item nav-link active">Order</a>
                        <a th:href="@{~/user/contact}" class="nav-item nav-link">Contact</a>
                        <a th:href="@{~/user/profile/}+${userdata.id}" class="nav-item nav-link"  ><span th:href="@{/profile}" th:text="${userdata.getFullname()}" ></span>

                        </a>


                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Order A Delivery</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Order</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <!-- Order Start -->
        <div class="Order">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="Order-content">
                            <div class="section-header">
                                <p>Order A Delivery</p>
                                <h2>Get your foods in happy hours with special offers</h2>
                            </div>
                            <a class="btn custom-btn" th:href="@{~/user/vieworder}" >View Order</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="Order-form">
                            <form>
                                <div class="control-group">
                                    <div class="control-group">
                                        <div class="input-group">
                                            <select class="custom-select form-control" >
                                                <option selected style="background: #fbaf32">Burger</option>
                                                <option style="background: #fbaf32"value="1">Mini Cheese Burger</option>
                                                <option style="background: #fbaf32"value="2">Double Size Burger</option>
                                                <option style="background: #fbaf32"value="3">Bacon, EGG and Cheese Burger</option>
                                                <option style="background: #fbaf32"value="4">Pulled Pork Burger</option>
                                                <option style="background: #fbaf32"value="5">Fried Chicken burger</option>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity" required="required" />
                                        </div>
                                    </div>


                                </div>

                                <div class="control-group">
                                    <div class="control-group">
                                        <div class="input-group">
                                            <select class="custom-select form-control">
                                                <option style="background: #fbaf32" selected>Snacks</option>
                                                <option style="background: #fbaf32"value="1">Corn Tikki - Spicy fried Aloo</option>
                                                <option style="background: #fbaf32"value="2">Bread besan Toast</option>
                                                <option style="background: #fbaf32"value="3">Healthy soya nugget snacks</option>
                                                <option style="background: #fbaf32"value="4">Tandoori Soya Chunks</option>

                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity" required="required" />
                                        </div>
                                    </div>


                                </div>

                                <div class="control-group">
                                    <div class="control-group">
                                        <div class="input-group">
                                            <select class="custom-select form-control">
                                                <option selected>Beverages</option>
                                                <option style="background: #fbaf32"value="1">Single Cup Brew</option>
                                                <option style="background: #fbaf32"value="2">Cafe Americano</option>
                                                <option style="background: #fbaf32"value="3">Caramel Macchiato</option>
                                                <option style="background: #fbaf32"value="4">Standard Black Cofee</option>
                                                <option style="background: #fbaf32"value="5">Cappuccino</option>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity" required="required" />
                                        </div>
                                    </div>
                                    <input type="text" id="Address" class="form-control" placeholder="Address" name="address" required >


                                </div>






                                <div>
                                    <button class="btn custom-btn" th:href="@{~/user/order}"  type="submit">Order Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order End -->
        
        
        <!-- Menu Start -->
        <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
                <div class="menu-tab">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#burgers">Burgers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#beverages">Beverages</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="burgers" class="container tab-pane active">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-burger.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Mini cheese Burger</span> <strong>$9.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-burger.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Double size burger</span> <strong>$11.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-burger.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Bacon, EGG and Cheese</span> <strong>$13.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-burger.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Pulled porx Burger</span> <strong>$18.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-burger.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Fried chicken Burger</span> <strong>$22.00</strong></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img th:src="@{~/img/menu-burger-img.jpg}" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="snacks" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-snack.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Corn Tikki - Spicy fried Aloo</span> <strong>$15.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-snack.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Bread besan Toast</span> <strong>$35.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-snack.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Healthy soya nugget snacks</span> <strong>$20.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-snack.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Tandoori Soya Chunks</span> <strong>$30.00</strong></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img th:src="@{~/img/menu-snack-img.jpg}" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="beverages" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-beverage.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Single Cup Brew</span> <strong>$7.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-beverage.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Caffe Americano</span> <strong>$9.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-beverage.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Caramel Macchiato</span> <strong>$15.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-beverage.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Standard black coffee</span> <strong>$8.00</strong></h3>

                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img th:src="@{~/img/menu-beverage.jpg}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span>Standard black coffee</span> <strong>$12.00</strong></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img th:src="@{~/img/menu-beverage-img.jpg}" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>M8RP+735, Kathmandu 44600</p>
                                    <p><i class="fa fa-phone-alt"></i>+977 9848569033</p>
                                    <p><i class="fa fa-envelope"></i>GharMai@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>FeedBack</h2>
                            <p>
                                How Was Our Service?
                             </p>
                            <div class="form">
                                <input class="form-control" placeholder="Feedback">
                                <button class="btn custom-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">GharMai</a>, All Right Reserved.</p>
                    <p>Designed By <a href="">Roshan</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script th:href="@{/js/main.js}"></script>
    </body>
</html>
